PORT=5000
MONGODB_URI=mongodb+srv://jay24codes:Jay%402435@cluster0.bu5cgjc.mongodb.net/jay-dashboard?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-jwt-key-change-in-production
NODE_ENV=development
